

ENDPOINT='http://localhost:9003'
HOSTNAME='127.0.0.1:9001'
FILES_STORE='s3://mybucket/bucket/'
AWS_ACCESS_KEY_ID='minio1'
AWS_SECRET_ACCESS_KEY='minio1@123'

VIRUS_TOTAL='https://www.virustotal.com/vtapi/v2/'
VIRUS_TOTAL_KEY=

bucket_name='bucket'

vs_zip_pwd=infected

storage_url='http:127.0.0.1:8002'